{% if app.request.hasPreviousSession %}
    {% for type, messages in app.flashes %}
        {% set type = type|split('.', 2) %}
        {% for message in messages %}
            {% if type[0] == 'alert' %}
                <div class="alert alert-{{ type[1] }} alert-dismissible show fade">
                    <div class="alert-body">
                        <button class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
            {% elseif type[0] == 'sweet' %}
                <div id="swal"
                     data-title="{{ message.title }}"
                     data-text="{{ message.text }}"
                     data-type="{{ type[1] }}">
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
