{% extends '@root/base.html.twig' %}

{% block title %} {{ platform.full_name }} {% endblock %}

{% block body %}
{#    <section class="section mt-sm-0 mt-5">#}
{#        <div class="section-body">#}
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 mt-5 mt-lg-0">
                    <div class="card">
                        <a class="card-body" href="{{ path('post_list_by_intent', { intent: constant('App\\Enum\\PostIntentEnum::LOOKING') }) }}">
                            <div class="empty-state" data-height="500" style="height: 400px;">
                                <img class="img-fluid" src="{{ asset('assets/images/drawkit/hiker-man-colour.svg') }}"
                                     alt="image">
                            </div>
                            <div style="text-align: center">
                                <h2 class="mt-0">Tražim</h2>
                                <p class="lead">
                                    Neki tekst o trazenju..
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mt-5 mt-lg-0">
                    <div class="card">
                        <a class="card-body" href="{{ path('post_list_by_intent', { intent: constant('App\\Enum\\PostIntentEnum::OFFERING') }) }}">
                            <div class="empty-state" data-height="500" style="height: 400px;">
                                <img class="img-fluid" src="{{ asset('assets/images/drawkit/storefront-colour.svg') }}"
                                     alt="image">
                            </div>
                            <div style="text-align: center">
                                <h2 class="mt-0">Nudim</h2>
                                <p class="lead">
                                    Neki tekst o trazenju..
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
{#        </div>#}
{#    </section>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/pages/home') }}
{% endblock %}
