{% extends '@root/base.html.twig' %}

{% block title %} {{ platform.full_name }} {% endblock %}

{% block body %}
    <section class="section mt-sm-0 mt-5">
        <div class="section-body">
            {% include '@root/_flash_messages.html.twig' %}

            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 mt-lg-0">
                    <div class="card">
                        <a class="card-body" href="{{ path('post_list_by_intent', {intent: 'looking'|trans }) }}">
                            <div class="empty-state" data-height="250" style="height: 250px;">
                                <img class="img-fluid" src="{{ asset('images/drawkit/hiker-man-colour.svg') }}"
                                     alt="image">
                            </div>
                            <div style="text-align: center">
                                <h2 class="mt-0">Tražim</h2>
                                <p class="lead">
                                    Za sve pogođene potresom koji trebaju pomoć
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mt-lg-0">
                    <div class="card">
                        <a class="card-body" href="{{ path('post_list_by_intent', {intent: 'offering'|trans }) }}">
                            <div class="empty-state" data-height="250" style="height: 250px;">
                                <img class="img-fluid" src="{{ asset('images/drawkit/residency.svg') }}"
                                     alt="image">
                            </div>
                            <div style="text-align: center">
                                <h2 class="mt-0">Nudim</h2>
                                <p class="lead">
                                    Za sve koji žele pomoći pogođenima potresom
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Najnovije objave</h2>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                        <article class="article article-style-c">
                            <div class="article-header">
                                <div class="article-title">
                                    <b style="color: white" href="#">{{ post.intent|trans|capitalize }} - {{ post.category|trans }}</b>
                                </div>
                                <div class="article-image" data-background="{{ asset('images/drawkit/' ~ post.category ~ '.svg') }}"></div>
                            </div>
                            <div class="article-details">
                                <div class="article-category">
                                    <a href="#">Pregledano {{ post.views }} puta</a><br>
                                    <div class="bullet"></div>
                                    <a href="#">{{ post.createdAt|elapsed }}</a><br>
                                </div>
                                <div class="article-title">
                                    <h2>
                                        <a href="{{ path('post_view_by_id', {'id': post.id}) }}">{{ post.title|truncate(64, true) }}</a>
                                    </h2>
                                </div>
                                <p class="card-max-height">{{ post.content|striptags|truncate(75, true) }} </p>
                                <div class="article-user">
                                    <img alt="image" src="{{ asset('images/avatar/avatar-1.png') }}">
                                    <div class="article-user-details">
                                        <div class="user-detail-name">
                                            <a href="tel:{{ post.phone }}">{{ post.author }}</a>
                                        </div>

                                        <div class="text-job">{{ post.city }}</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
