{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="form-group row mb-4">
    {{ form_label(form.deactivationToken, 'Kod za brisanje', {'label_attr': {'class': 'col-form-label text-md-right col-12 col-md-1 col-lg-1'}}) }}
    <div class="col-sm-12 col-md-4 col-lg-4">
        {{ form_widget(form.deactivationToken) }}
    </div>
</div>

<div class="form-group row mb-4">
    <div class="offset-9">
        <a href="{{ path('home_index') }}" class="btn btn-secondary btn-lg">Natrag</a>
    </div>

    <div class="col-md-1">
        {{ form_widget(form.save, {label: 'Spremi', 'attr': {'class': 'btn btn-primary btn-lg'}}) }}
    </div>
</div>
{{ form_end(form) }}
