{% extends '@root/base.html.twig' %}

{% block title %} {{ post.title }} {% endblock %}

{% block body %}
    <section class="section mt-5 mt-md-5 mt-lg-1 mt-sm-5">
        <div class="section-body">
            {% include '@root/components/_alert.html.twig' %}

            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-12">
                    <article class="article article-style-c">
                        <div class="article-details">
                            <div class="article-title">
                                <h1><b class="text-dark" href="#">{{ post.title }}</b></h1>
                            </div>
                            <div class="article-category">
                                <b>Kategorija: </b><a href="#">{{ post.category|trans }}</a>
                                <div class="bullet"></div>
                                <a href="#">{{ post.createdAt|elapsed }}</a>
                                <hr>
                            </div>
                            <div class="article-details">
                                <h5>Sadržaj </h5>
                                <p>{{ post.content|striptags }} </p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="article-user">
                                        <img alt="image" src="{{ asset('images/avatar/avatar-1.png') }}">
                                        <div class="article-user-details">
                                            <div class="user-detail-name">
                                                <a href="tel:{{ post.phone }}">{{ post.author }}</a>
                                            </div>
                                            <div class="text-job">
                                                {{ post.phone }} ({{ post.city }})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-lg-6 col-lg-3">
                                    <div class="offset-lg-8 col-lg-4 mt-lg-1">
                                        <div class="article-user">
                                            <div class="article-user-details">
                                                <div class="user-detail-name mt-lg-3">
                                                    <p style="display:inline-block;" data-toggle="tooltip"
                                                       data-placement="top" title="Pregleda"><i style="font-size: 16px;"
                                                                                                class="fas fa-eye"></i>
                                                    </p>
                                                    <span style="display: inline; font-size: 20px">{{ post.views }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            {% if post.latitude and post.longitude %}
                <div class="row">
                    <div class="col-12">
                        <h2>Karta objave</h2>
                    </div>
                    <div class="col-12">
                        {% include '@root/components/_map_view.html.twig' with {height: 800} %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" crossorigin="" />
    <link rel="stylesheet" href="{{ asset('css/vendor/markercluster.css') }}">
    <link rel="stylesheet" href="{{ asset('css/vendor/markercluster.default.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" crossorigin=""></script>
    <script src="{{ asset('js/vendor/leaflet.markercluster.js') }}"></script>
    {{ encore_entry_script_tags('js/init/leaflet') }}
{% endblock %}

