{% extends '@root/base.html.twig' %}

{% block title %} Detalji objave {% endblock %}

{% block body %}
    <section class="section mt-5 mt-md-5 mt-lg-1 mt-sm-5">
        <div class="section-body">
            {% include '@root/_flash_messages.html.twig' %}

            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-12">
                    <article class="article article-style-c">
                        <div class="article-details">
                            <div class="article-title">
                                <h1><b class="text-dark" href="#">{{ post.title }}</b></h1>
                            </div>
                            <div class="article-category">
                                <b>Kategorija: </b><a href="#">{{ post.category|trans }}</a>
                                <div class="bullet"></div>
                                <a href="#">{{ post.createdAt|elapsed }}</a><hr>
                            </div>
                            <div class="article-details">
                                <h5>Sadržaj </h5>
                                <p>{{ post.content|striptags }} </p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="article-user">
                                        <img alt="image" src="{{ asset('images/avatar/avatar-1.png') }}">
                                        <div class="article-user-details">
                                            <div class="user-detail-name">
                                                {{ post.author }}
                                            </div>
                                            <div class="text-primary">{{ post.contact }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-lg-6 col-lg-3">
                                    <div class="col-lg-3">
                                        <div class="article-user">
                                            <img alt="image" src="{{ asset('images/avatar/avatar-1.png') }}">
                                            <div class="article-user-details">
                                                <div class="user-detail-name">
                                                    {{ post.views }}
                                                </div>
                                                <div class="text-primary">{{ post.contact }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/vendor/chocolat.css') }}">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery.chocolat.min.js') }}"></script>
    {{ parent() }}
{% endblock %}
