<!DOCTYPE html>
<html lang="{{ platform.locale }}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('images/favicons/apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/favicons/apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/favicons/apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/favicons/apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('images/favicons/apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('images/favicons/apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('images/favicons/apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('images/favicons/apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('images/favicons/favicon-128.png') }}" sizes="128x128" />
    <meta name="application-name" content="{{ platform.full_name }}"/>
    <meta name="msapplication-TileColor" content="#000" />
    <meta name="msapplication-TileImage" content="{{ asset('images/favicons/mstile-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ asset('images/favicons/mstile-70x70.') }}png" />
    <meta name="msapplication-square150x150logo" content="{{ asset('images/favicons/mstile-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ asset('images/favicons/mstile-310x150.') }}png" />
    <meta name="msapplication-square310x310logo" content="{{ asset('images/favicons/mstile-310x310.png') }}" />

    <title>{% block title %}{% endblock %}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ECCGJ0THQ6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ECCGJ0THQ6');
    </script>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS Libraries -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/theme/style') }}
        {{ encore_entry_link_tags('css/theme/components') }}
        {{ encore_entry_link_tags('css/custom') }}
        {{ encore_entry_link_tags('css/pages/home') }}
    {% endblock %}
</head>
<body class="layout-3">
<div id="app">
    <div class="main-wrapper container">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar">
            <div class="scale-logo d-sm-none d-lg-inline-block">
                <a class="scale-logo" href="{{ path('home_index') }}"><img class="hzp-logo" src="{{ asset('images/logo.png') }}" alt="Logo"></a>
            </div>
            <a href="{{ path('home_index') }}" class="navbar-brand sidebar-gone-hide d-sm-none d-lg-inline-block">{{ platform.full_name|upper }}</a>
            <div class="navbar-nav">
                <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
            </div>
            <div class="nav-collapse">
                <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
                    <i class="fas fa-ellipsis-v"></i>
                </a>
            </div>
            <div class="form-inline ml-auto d-lg-none d-sm-block">
                <ul class="navbar-nav">
                    <li>
                        <div class="scale-logo-mobile">
                            <a href="{{ path('home_index') }}" class="text-white logo-mobile-text">{{ platform.full_name|upper  }}</a>
                            <a class="nav-link nav-link-lg mobile-link-container" style="padding: 0 !important;" href="{{ path('home_index') }}">
                                <img class="logo-mobile" src="{{ asset('images/logo.png') }}" alt="Logo" style="width: 65px;">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="navbar navbar-secondary navbar-expand-lg">
            <div class="container">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('home_index') }}" class="nav-link"><i class="fas fa-home"></i><span>Početna</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link has-dropdown"><i
                                    class="fas fa-layer-group"></i><span>Namjera</span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a href="{{ path('post_list_by_intent', {intent: 'offering'|trans}) }}" class="nav-link">Nudim</a></li>
                            <li class="nav-item"><a href="{{ path('post_list_by_intent', {intent: 'looking'|trans}) }}" class="nav-link">Tražim</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link has-dropdown"><i class="fas fa-th-list"></i><span>Ostalo</span></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a href="{{ path('post_delete') }}" class="nav-link">Obriši objavu</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="main-content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

<!-- JS Libraries -->
{% block javascripts %}
    {{ encore_entry_script_tags('js/init/scripts') }}
    {{ encore_entry_script_tags('js/init/stisla') }}
    {{ encore_entry_script_tags('js/pages/home') }}
{% endblock %}
</body>
</html>
